$verde: #7faa4b;

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
    margin-right: 15px;
    background-color: $verde;
}
li a {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: black;
  }
}




