<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Save Argentina</title>
    <link rel="shortcut icon" href="../Img/Logo health.jpg"" type=" image/x-icon"> <link rel="stylesheet"
        href="../css/stilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <body id="gridContacto">
        <header id="menu">
            <div><a href="../index.html"><img src="../Img/Logo health.jpg" alt="Logo Health Save" id="logo"></a></div>
            <nav>
                <ul class="menu">
                    <li> <a href="../views/nosotros.html">NOSOTROS</a> </li>
                    <li> <a href="../views/información.html">INFORMACIÓN</a> </li>
                    <li> <a href="../views/voluntarios.html">VOLUNTARIOS</a> </li>
                    <li> <a href="../views/contacto.html">CONTACTO</a> </li>
                </ul>
            </nav>
        </header>

    <main>

        <section id="gridContacto">
            <h1 class="titulo">Postulate como voluntario</h1>
            <form action="" method="">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingrese su/s nombre/s" required>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingrese su/s apellido/s" required>
       
                <label for="edad">Edad:</label>
                <input type="text" name="edad" id="edad" placeholder="Ingrese edad" required>
              
                <label for="mail">Mail:</label>
                <input type="email" name="mail" id="mail" placeholder="Ingrese su mail">
      
                <label for="tarea">Tareas en las que puede/desea colaborar:</label>
          <div>
                <input type="checkbox" name="tarea" id="tarea"> Cocinar
                <input type="checkbox" name="tarea" id="tarea"> Administrar redes
                <input type="checkbox" name="tarea" id="tarea"> Busqueda de voluntarios
                <input type="checkbox" name="tarea" id="tarea"> Obtención de fondos
                <input type="checkbox" name="tarea" id="tarea"> Administración/organización
            </div>
                <label for="Barrio donde puede colaborar"></label>
                <select>
                    <option value="">Seleecione el barrio</option>
                    <option value="F">Flores</option>
                    <option value="C">Caballito</option>
                    <option value="M">Moron</option>
                    <option value="P">Palermo</option>
                </select>
           
                <input type="submit" value="Enviar" name="enviar" id="enviar">
                <input type="reset" value="Borrar" name="Borrar" id="Borrar">
            </form>
        </section>
    </main>

    <footer>
        <p>¡Encontranos en redes!</p>
        <div>
        <a href="https://www.facebook.com/healthsaveargentina/" target="_blank"> <img src="../Img/facebook.png"
                alt="facebook" class="redes"></a>
        <a href="https://www.instagram.com/healthsaveargentina/" target="_blank"> <img src="../Img/instagram.png"
                alt="instagram" class="redes"></a>
        </div>
        <p class="textoCentrado"> &copy; 2021 All Rights Reserved &reg; Yasmin Andia </p>
    </footer>
</body>

</html>