<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Save Argentina</title>
    <link rel="shortcut icon" href="../Img/Logo health.jpg"" type=" image/x-icon"> <link rel="stylesheet"
        href="../css/stilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div><a href="../index.html"><img src="../Img/Logo health.jpg" alt="Logo Health Save" id="logo"></a></div>
        <nav class="nav">
            <ul class="menu">
                <li> <a href="../views/nosotros.html">NOSOTROS</a> </li>
                <li> <a href="../views/información.html">INFORMACIÓN</a> </li>
                <li> <a href="../views/voluntarios.html">VOLUNTARIOS</a> </li>
                <li> <a href="../views/contacto.html">CONTACTO</a> </li>
            </ul>
        </nav>
    </header>
<main id="gridInfo">
        <h1 id="texto" class="textoCentrado">Marcas y organizaciones que colaboran con nosotros:</h1>
        <div id="imgs">
        <img src="../Img/Logo Not Co.jpg" alt="Logo NotCo" class="org">
        <img src="../Img/logo-stilo veggie.jpg" alt="Logo Estilo Veggie" class="org">
        <img src="../Img/Logo-veggieland.jpg" alt="Logo Veggieland" class="org">
        <img src="../Img/logo-gordo-vegano.jpg" alt="Logo Gordo Vegano" class="org">
        <img src="../Img/logo-jaulas-vacias.png" alt="Logo Jaulas Vacias" class="org">
        <img src="../Img/logo-campamento-vegano.jpg" alt="Logo Campamento Vegano" class="org">
        <img src="../Img/logo-anb.png" alt="Logo Asamblea No Binarie" class="org">
        <img src="../Img/logo-los-panchitos.jpg" alt="Logo Comedor Los Panchitos" class="org">
        </div>
        <section id="articulos">
            <article>
                <h2 class="textoCentrado"> Viandas</h2>
                <p> <span class="negrita"> “Matar el hambre sin matar a nadie” </span> nos repetimos, y repetimos, una y
                    otra vez cuando
                    nos preguntan
                    ¿por qué viandas veganas? En nuestra lucha no debemos olvidar que principalmente lo hacemos porque
                    creemos que para
                    terminar con una opresión: injusticia social, no debemos ocasionar otra opresión: explotación y
                    maltrato animal. No podemos seguir luchando en contra de injusticias ocasionando injusticias. En
                    cada vianda que hacemos hay un mensaje claro: no es necesario explotar animales para nuestro
                    consumo. En primer lugar, y mas importante, porque el respeto a elles pasa por el simple hecho de
                    que son seres libres, sintientes y con derechos. Entonces sí, nuestras viandas son veganas porque
                    no necesitamos ni debemos matar a nadie para matar
                    el hambre de quienes están siendo vulnerades por el sistema, ni tampoco de quienes podemos elegir
                    qué comer cada día. El especismo genera desigualdad. Tener un plato de comida no debería ser un
                    privilegio, ser rescatade de un camión que te lleva al matadero tampoco.

                    Veganismo es justicia.</p>
                </div>
            </article>

            <article>
                <h2 class="textoCentrado">Sistema Alimentario</h2>
                <p>Queremos evitar las futuras pandemias cambiando el sistema alimentario.
                    Los gobiernos del mundo se niegan a decir la verdad sobre los alimentos que se producen y su impacto
                    en nuestra salud y nuestro planeta. El de todxs. <span class="negrita"> Exigimos que se respete
                        nuestro derecho a la
                        información sobre lo que comemos, de dónde viene, qué hace falta para producirlo, quiénes están
                        siendo oprimidxs para eso y qué efecto tienen sobre nuestra salud. </span>
                    Al mismo tiempo, las recomendaciones oficiales que determinan a qué alimentos accedemos en
                    comedores, escuelas, universidades y edificios públicos deben actualizarse para guiar a las personas
                    hacia los alimentos que más pueden hacer por su salud. Basta de recomendar carne en un mundo que ya
                    no da a basto.
                    Para que podamos siquiera pensar en justicia alimentaria, los alimentos vegetales integrales
                    necesarios para estar saludables deben estar garantizados para cualquiera que los requiera.
                    No aceptamos menos que lo que merecemos, comida saludable y sin dañar a nadie.</p>
            </article>

            <article>
                <h2 class="textoCentrado">Salud</h2>
                <p>Entre las enfermedades que podemos prevenir con una alimentación vegana y saludable, está una de
                    las que más daño hacen a nuestra sociedad. La <span class="negrita">diabetes tipo 2. </span> ¿Sabías
                    que la diabetes tipo 2
                    aumenta el riesgo de tener un infarto en la misma medida que haber tenido un infarto previo? También
                    está
                    entre
                    las principales causas de ceguera adquirida, enfermedad renal crónica, y amputación de miembros
                    cuando esta no es por una colisión vehicular. La buena noticia es que conocemos la forma de
                    prevenirla, y la estamos acercando a quienes más la necesitan. </p>
            </article>

            <article>
                <h2 class="textoCentrado">Nutrición</h2>
                <p>Muchas personas piensan que un plato no está completo sin algún alimento de origen animal, y esto es
                    <span class="negrita"> !FALSO! </span>Nuestras viandas veganas aportan una amplia variedad de
                    nutrientes y las calorías necesarias
                    para tener energía, sin ningún alimento de origen animal... pero, ¿cómo lo logramos? Incluyendo los
                    grupos CLAVE:</p>
                <ul class="lista">
                    <li>Cereales integrales que aportan carbohidratos complejos, vitaminas del complejo B, zinc y fibra.
                    </li>
                    <li>Legumbres que aportan proteínas, hierro y calcio.</li>
                    <li>Verduras que aportan vitaminas B, C, K y A. También Hierro, calcio, y magnesio.</li>
                    <li>Además agregamos semillas que aportan grasas saludables y más proteínas.</li>
                </ul>
                <p>No necesitamos consumir animales para estar saludables, y queremos que esto sea accesible para
                    todxs! Que la alimentación vegana saludable sea un derecho, no un privilegio.</p>
            </article>
        </section>
</main>
    <footer>
        <p>¡Encontranos en redes!</p>
        <div>
            <a href="https://www.facebook.com/healthsaveargentina/" target="_blank"> <img src="../Img/facebook.png"
                    alt="facebook" class="redes"></a>
            <a href="https://www.instagram.com/healthsaveargentina/" target="_blank"> <img src="../Img/instagram.png"
                    alt="instagram" class="redes"></a>
        </div>
        <p class="textoCentrado"> &copy; 2021 All Rights Reserved &reg; Yasmin Andia </p>
    </footer>
</body>

</html>