<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros Health Save Argentina</title>
    <link rel="shortcut icon" href="../Img/Logo health.jpg"" type=" image/x-icon"> <link rel="stylesheet"
        href="../css/stilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>

<body>
    <header id="menu">
        <div><a href="../index.html"><img src="../Img/Logo health.jpg" alt="Logo Health Save" id="logo"></a></div>
        <nav>
            <ul class="menu">
                <li> <a href="../views/nosotros.html">NOSOTROS</a> </li>
                <li> <a href="../views/información.html">INFORMACIÓN</a> </li>
                <li> <a href="../views/voluntarios.html">VOLUNTARIOS</a> </li>
                <li> <a href="../views/contacto.html">CONTACTO</a> </li>
            </ul>
        </nav>
    </header>

    <main id="gridNosotros">
        <section id="art1" class="articulo">
            <h2 class="tituloArticulo">¿Quienes somos?</h2>
            <p>Somos activistas auto-convocadxs por la liberación animal. Asistimos a personas en situacion de
                vulnerabilidad social. Proveemos una alimentación sana, con alimentos libres de agrotoxicos,
                comprados directamente de sus productores y libre de maltrato animal.</p>
        </section>

        <section id="art2" class="articulo"> 
        <h2 class="tituloArticulo">Nuestros principios:</h2>
            <ol>
                <li> <span> Somos antiespecistas: </span> Creemos que nadie deberia ser oprimidx para que otrxs
                    obtengan alimento,
                    consideramos a los demas animales "otrxs" que tambien deben ser respetados, cuidaddos y
                    protegidos.
                </li>
                <li> <span>Buscamos diversidad e inclusión:</span> Queremos que todos los cambios que se den tengan
                    en cuanta el
                    espectro cada vez más amplio de identidades , contexto socio-economico, ancestralidades,
                    culturas y
                    etnias existentes en la comunidad global de la que somos parte. Queremos construir una
                    organización
                    diversa, inclusiva y libre de discriminación</li>
                <li><span>Nos basamos en ciencia: </span> Basamos nuestros reclamos y acciones en lo que la ciencia
                    identifica
                    como
                    alimentos que deben abndar en nuestra alimentación para estar saludables</li>
            </ol>
        </section>

        <section id="art3" class="articulo">
        <h2 class="tituloArticulo">¿Que hacemos?</h2>
            <iframe src="https://www.youtube.com/embed/M_Yim36ljRc" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </section>
    </main>

    <footer>
        <p>¡Encontranos en redes!</p>
        <div>
        <a href="https://www.facebook.com/healthsaveargentina/" target="_blank"> <img src="../Img/facebook.png"
                alt="facebook" class="redes"></a>
        <a href="https://www.instagram.com/healthsaveargentina/" target="_blank"> <img src="../Img/instagram.png"
                alt="instagram" class="redes"></a>
        </div>
        <p class="textoCentrado"> &copy; 2021 All Rights Reserved &reg; Yasmin Andia </p>
    </footer>
</body>

</html>