<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voluntarios Health Save Argentina</title>
    <link rel="shortcut icon" href="../Img/Logo health.jpg"" type=" image/x-icon"> <link rel="stylesheet"
        href="../css/stilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
</head>
<body>
    
<header>
    <div><a href="../index.html"><img src="../Img/Logo health.jpg" alt="Logo Health Save" id="logo"></a></div>
    <nav class="nav">
        <ul class="menu">
            <li> <a href="../views/nosotros.html">NOSOTROS</a> </li>
            <li> <a href="../views/información.html">INFORMACIÓN</a> </li>
            <li> <a href="../views/voluntarios.html">VOLUNTARIOS</a> </li>
            <li> <a href="../views/contacto.html">CONTACTO</a> </li>
        </ul>
    </nav>
</header>
    <main>
        <section id="ttv">
            <h1 class="textoCentrado">Sumarte como voluntarie implica un compromiso semanal, ante les compañeres voluntaries y ante quienes se
                acercan al punto a comer</h1>
        </section>

        <section id="imgv">
            <div><img src="../img/voluntarios-4.jpg" alt="volunarios" class="imgVoluntarios"></div>
            <div class="div4"><img src="../Img/voluntarios-2.jpg" alt="Voluntarios" class="imgVoluntarios"></div>
            <div class="div4"><img src="../Img/voluntarios-3.jpg" alt="Voluntarios" class="imgVoluntarios"></div>
        </section>

        <article id="pda">
            <h2 class="textoCentrado">A continuación vas a encontrar todos los puntos activos actualmnte, podes elegir el que prefieras y
                comunicarte directamente para asistir a la reunion inicial. Esta es muy importante ya que contamos con
                nuestra dinamica de trabajo y pautas de cuidado para todes</h2>
            <h2 class="titulo">Puntos de Acción</h2>
            <section>
            <div class="dia1">
                <h3>Lunes</h3>
                <h4>CABALLITO:</h4>
                <p>21hs en Av.Rivadavia y Av. La Plata</p>
                <h4>ALMAGRO:</h4>
                <p>21hs en Av.Corrientes y Av. Medrano</p>
                <h4>ROSARIO:</h4>
                <p>21 hs Córdoba entre Dorrego y Moreno</p>
            </div>

            <div class="dia1">
                <h3>Martes</h3>
                <h4>PALERMO:</h4>
                <p>21hs en Av. Santa Fe y Bulones</p>
                <h4>VICENTE LOPEZ:</h4>
                <p>21 hs en Puente Savedra</p>
                <h4>LOMAS DE ZAMORA:</h4>
                <p>21 hs en Av. Meeks y Rep. Árabe de Siria</p>
            </div>

            <div class="dia1">
                <h3>Miercoles</h3>
                <h4>BELGRANO:</h4>
                <p>21 hs en Av. Cabildo y Congreso</p>
                <h3>RETIRO:</h3>
                <p>21 hs en Florida y Av. Santa Fe</p>
                <h4>ITUZAINGÓ:</h4>
                <p>20 hs en Plaza 20 de febrero</p>
            </div>

            <div class="dia2">
                <h3>Viernes</h3>
                <h4>FLORES:</h4>
                <p>19:30 hs en Av. Rivadavia y F. Rodriguez</p>
            </div>

            <div class="dia2">
                <h3>Sabado</h3>
                <h4>MISIONES:</h4>
                <p>16 en Barrio Villa Cristen, Oberá</p>
            </div>
        </section>
        </article>
    </main>

    <footer>
        <p>¡Encontranos en redes!</p>
        <div>
        <a href="https://www.facebook.com/healthsaveargentina/" target="_blank"> <img src="../Img/facebook.png"
                alt="facebook" class="redes"></a>
        <a href="https://www.instagram.com/healthsaveargentina/" target="_blank"> <img src="../Img/instagram.png"
                alt="instagram" class="redes"></a>
        </div>
        <p class="textoCentrado"> &copy; 2021 All Rights Reserved &reg; Yasmin Andia </p>
    </footer>
</body>

</html>